{% extends 'tasks/base.html' %}

{% block content %}
<h2>Liste des tâches</h2>

{% if user.is_staff %}
<a href="{% url 'task_create' %}" class="btn btn-success mb-3">Ajouter tâche</a>
{% endif %}

<table class="table table-bordered">
    <tr>
        <th>Titre</th>
        <th>Priorité</th>
        <th>Statut</th>
        <th>Date limite</th>
        <th>Assignée à</th>
        <th>Actions</th>
    </tr>

    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td>{{ task.priority }}</td>
        <td>{{ task.status }}</td>
        <td>{{ task.due_date }}</td>
        <td>{{ task.assigned_to.username }}</td>
        <td>
          {% if user.is_staff %}
<a href="{% url 'task_update' task.id %}" class="btn btn-warning btn-sm">Modifier</a>
<a href="{% url 'task_delete' task.id %}" class="btn btn-danger btn-sm">Supprimer</a>
{% else %}
<span class="badge bg-secondary">Lecture seule</span>
{% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'dashboard' %}" class="btn btn-secondary">Dashboard</a>
{% endblock %}